{% extends "template.html" %}
{% block title %}
Site
{% endblock %}
{% block content %}
    <h2> Welcome to Benny's</h2>
    <div class = "img-slider"> 
        <div class = "slide active">
            <img src = "static/images/1.jpg" alt = "">
            <div class = "info">
                <h2>1</h2>
                <p>HI</p>
            </div>
        </div>
        <div class = "slide">
            <img src = "static/images/2.jpg" alt = "">
            <div class = "info">
                <h2>2</h2>
                <p>HI</p>
            </div>
        </div>
        <div class = "slide">
            <img src = "static/images/3.jpg" alt = "">
            <div class = "info">
                <h2>3</h2>
                <p>HI</p>
            </div>
        </div>
        <div class = "slide">
            <img src = "static/images/4.jpg" alt = "">
            <div class = "info">
                <h2>4</h2>
                <p>HI</p>
            </div>
        </div>
        <div class = "slide">
            <img src = "static/images/5.jpg" alt = "">
            <div class = "info">
                <h2>5</h2>
                <p>HI</p>
            </div>
        </div>
        <div class = "nav">
            <div class= "btn active"></div>
            <div class= "btn"></div>
            <div class= "btn"></div>
            <div class= "btn"></div>
            <div class= "btn"></div>
        </div>
    </div>

    <script type = "text/javascript">
        var slides = document.querySelectorAll('.slide');
        var btns = document.querySelectorAll('.btn');
        let currentSlide = 1;

        //javascript for image slider manual nav
        var manualNav = function(manual){
            slides.forEach((slide)=>{
                slide.classList.remove('active');

                btns.forEach((btn)=> {
                    btn.classList.remove('active');
                })
            });


            slides[manual].classList.add('active');
            btns[manual].classList.add('active')
        }

        btns.forEach((btn, i) =>{
            btn.addEventListener("click", ()=> {
                manualNav(i);
                currentSlide = i;
            })
        })
        //javascript for img slider autoplay nav
        var repeat = function(activeclass){
            let active = document.getElementByClassName('active');
            let i = 1;

            var repeater = () => {
                setTimeout(function(){
                    [...active].forEach((activeSlide)=> {
                        activeSlide.classList.remove('active')
                    });

                slides[i].classList.add('active');
                btns[i].classList.add('active');
                i++;


                if (slides.length == i){
                    i = 0;
                }

                if (i>=slides.length){
                    return;
                }
                repeater();
            }, 10000);
            }
            repeater
        }
    </script>
{% endblock %}